input[type=text].converter {
    width: 100%;
    margin-bottom: 20px;
    resize: both;
}

span.converter-error {
    color: red;
}

.main-container {
    margin: 0 auto;
    text-align: center;
}

.app-loader-container {
    padding: 200px;
    vertical-align: top;
    display: inline-block;
}

@media (max-width: 767.98px) {
    .app-loader-container {
        padding: 100px;
    }
}

.app-loader {
    border: 9px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid gray;
    border-bottom: 8px solid black;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 0.7s ease infinite;
    -o-animation: spin 0.7s ease infinite;
    animation: spin 0.7s ease infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}